src/main/resources/wsdl/my.wsdl

<!--  Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT.  -->
        <!--  Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT.  -->
<definitions
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://globalservice.ws.bept.ids.by/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://globalservice.ws.bept.ids.by/"
             name="BEPTGlobalService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://globalservice.ws.bept.ids.by/"
                        schemaLocation="http://www.epass.by:80/BEPTGlobalService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="getPartyByGLN">
        <part name="parameters" element="tns:getPartyByGLN"/>
    </message>
    <message name="getPartyByGLNResponse">
        <part name="parameters" element="tns:getPartyByGLNResponse"/>
    </message>
    <message name="cleanTradeitemsOfPoolByDeleteTime">
        <part name="parameters" element="tns:cleanTradeitemsOfPoolByDeleteTime"/>
    </message>
    <message name="cleanTradeitemsOfPoolByDeleteTimeResponse">
        <part name="parameters" element="tns:cleanTradeitemsOfPoolByDeleteTimeResponse"/>
    </message>
    <message name="getCheckGTIN29">
        <part name="parameters" element="tns:getCheckGTIN29"/>
    </message>
    <message name="getCheckGTIN29Response">
        <part name="parameters" element="tns:getCheckGTIN29Response"/>
    </message>
    <message name="getClassificator">
        <part name="parameters" element="tns:getClassificator"/>
    </message>
    <message name="getClassificatorResponse">
        <part name="parameters" element="tns:getClassificatorResponse"/>
    </message>
    <message name="getCurrentTime">
        <part name="parameters" element="tns:getCurrentTime"/>
    </message>
    <message name="getCurrentTimeResponse">
        <part name="parameters" element="tns:getCurrentTimeResponse"/>
    </message>
    <message name="getFullPartyByGLN">
        <part name="parameters" element="tns:getFullPartyByGLN"/>
    </message>
    <message name="getFullPartyByGLNResponse">
        <part name="parameters" element="tns:getFullPartyByGLNResponse"/>
    </message>
    <message name="getFunctionalnameByGTIN">
        <part name="parameters" element="tns:getFunctionalnameByGTIN"/>
    </message>
    <message name="getFunctionalnameByGTINResponse">
        <part name="parameters" element="tns:getFunctionalnameByGTINResponse"/>
    </message>
    <message name="getFunctionalnameByGTIN2">
        <part name="parameters" element="tns:getFunctionalnameByGTIN2"/>
    </message>
    <message name="getFunctionalnameByGTIN2Response">
        <part name="parameters" element="tns:getFunctionalnameByGTIN2Response"/>
    </message>
    <message name="getOldHeaderResp">
        <part name="parameters" element="tns:getOldHeaderResp"/>
    </message>
    <message name="getOldHeaderRespResponse">
        <part name="parameters" element="tns:getOldHeaderRespResponse"/>
    </message>
    <message name="getOldParty">
        <part name="parameters" element="tns:getOldParty"/>
    </message>
    <message name="getOldPartyResponse">
        <part name="parameters" element="tns:getOldPartyResponse"/>
    </message>
    <message name="getOldTradeitem">
        <part name="parameters" element="tns:getOldTradeitem"/>
    </message>
    <message name="getOldTradeitemResponse">
        <part name="parameters" element="tns:getOldTradeitemResponse"/>
    </message>
    <message name="getPartyByUNP">
        <part name="parameters" element="tns:getPartyByUNP"/>
    </message>
    <message name="getPartyByUNPResponse">
        <part name="parameters" element="tns:getPartyByUNPResponse"/>
    </message>
    <message name="getQuotaImportInfo">
        <part name="parameters" element="tns:getQuotaImportInfo"/>
    </message>
    <message name="getQuotaImportInfoResponse">
        <part name="parameters" element="tns:getQuotaImportInfoResponse"/>
    </message>
    <message name="getSimpleTradeitemsByGTIN">
        <part name="parameters" element="tns:getSimpleTradeitemsByGTIN"/>
    </message>
    <message name="getSimpleTradeitemsByGTINResponse">
        <part name="parameters" element="tns:getSimpleTradeitemsByGTINResponse"/>
    </message>
    <message name="getTIImageKindsByGTINs">
        <part name="parameters" element="tns:getTIImageKindsByGTINs"/>
    </message>
    <message name="getTIImageKindsByGTINsResponse">
        <part name="parameters" element="tns:getTIImageKindsByGTINsResponse"/>
    </message>
    <message name="getTradeitemByGTIN">
        <part name="parameters" element="tns:getTradeitemByGTIN"/>
    </message>
    <message name="getTradeitemByGTINResponse">
        <part name="parameters" element="tns:getTradeitemByGTINResponse"/>
    </message>
    <message name="getTradeitemsByGTINsShort">
        <part name="parameters" element="tns:getTradeitemsByGTINsShort"/>
    </message>
    <message name="getTradeitemsByGTINsShortResponse">
        <part name="parameters" element="tns:getTradeitemsByGTINsShortResponse"/>
    </message>
    <message name="getTradeitemsOfPoolByModifiedTime">
        <part name="parameters" element="tns:getTradeitemsOfPoolByModifiedTime"/>
    </message>
    <message name="getTradeitemsOfPoolByModifiedTimeResponse">
        <part name="parameters" element="tns:getTradeitemsOfPoolByModifiedTimeResponse"/>
    </message>
    <message name="getVariantByGTIN">
        <part name="parameters" element="tns:getVariantByGTIN"/>
    </message>
    <message name="getVariantByGTINResponse">
        <part name="parameters" element="tns:getVariantByGTINResponse"/>
    </message>
    <message name="SearchGTINfromDatamarkSystemByModifiedTime">
        <part name="parameters" element="tns:SearchGTINfromDatamarkSystemByModifiedTime"/>
    </message>
    <message name="SearchGTINfromDatamarkSystemByModifiedTimeResponse">
        <part name="parameters" element="tns:SearchGTINfromDatamarkSystemByModifiedTimeResponse"/>
    </message>
    <message name="SearchPartiesByModifiedTime">
        <part name="parameters" element="tns:SearchPartiesByModifiedTime"/>
    </message>
    <message name="SearchPartiesByModifiedTimeResponse">
        <part name="parameters" element="tns:SearchPartiesByModifiedTimeResponse"/>
    </message>
    <message name="SearchSimpleTradeitemsByModifiedTime">
        <part name="parameters" element="tns:SearchSimpleTradeitemsByModifiedTime"/>
    </message>
    <message name="SearchSimpleTradeitemsByModifiedTimeResponse">
        <part name="parameters" element="tns:SearchSimpleTradeitemsByModifiedTimeResponse"/>
    </message>
    <message name="SearchSimpleTradeitemsByModifiedTime2">
        <part name="parameters" element="tns:SearchSimpleTradeitemsByModifiedTime2"/>
    </message>
    <message name="SearchSimpleTradeitemsByModifiedTime2Response">
        <part name="parameters" element="tns:SearchSimpleTradeitemsByModifiedTime2Response"/>
    </message>
    <message name="SearchSimpleTradeitemsByModifiedTime3">
        <part name="parameters" element="tns:SearchSimpleTradeitemsByModifiedTime3"/>
    </message>
    <message name="SearchSimpleTradeitemsByModifiedTime3Response">
        <part name="parameters" element="tns:SearchSimpleTradeitemsByModifiedTime3Response"/>
    </message>
    <message name="SearchTradeitemsByGLN">
        <part name="parameters" element="tns:SearchTradeitemsByGLN"/>
    </message>
    <message name="SearchTradeitemsByGLNResponse">
        <part name="parameters" element="tns:SearchTradeitemsByGLNResponse"/>
    </message>
    <message name="SearchTradeitemsByGLNAndModifiedTime">
        <part name="parameters" element="tns:SearchTradeitemsByGLNAndModifiedTime"/>
    </message>
    <message name="SearchTradeitemsByGLNAndModifiedTimeResponse">
        <part name="parameters" element="tns:SearchTradeitemsByGLNAndModifiedTimeResponse"/>
    </message>
    <message name="SearchTradeitemsByModifiedTime">
        <part name="parameters" element="tns:SearchTradeitemsByModifiedTime"/>
    </message>
    <message name="SearchTradeitemsByModifiedTimeResponse">
        <part name="parameters" element="tns:SearchTradeitemsByModifiedTimeResponse"/>
    </message>
    <message name="SearchTradeitemsByName">
        <part name="parameters" element="tns:SearchTradeitemsByName"/>
    </message>
    <message name="SearchTradeitemsByNameResponse">
        <part name="parameters" element="tns:SearchTradeitemsByNameResponse"/>
    </message>
    <message name="SearchTradeitemsByOKRB007">
        <part name="parameters" element="tns:SearchTradeitemsByOKRB007"/>
    </message>
    <message name="SearchTradeitemsByOKRB007Response">
        <part name="parameters" element="tns:SearchTradeitemsByOKRB007Response"/>
    </message>
    <message name="SearchTradeitemsByTNVED">
        <part name="parameters" element="tns:SearchTradeitemsByTNVED"/>
    </message>
    <message name="SearchTradeitemsByTNVEDResponse">
        <part name="parameters" element="tns:SearchTradeitemsByTNVEDResponse"/>
    </message>
    <message name="getTradeitemsByGTINs">
        <part name="parameters" element="tns:getTradeitemsByGTINs"/>
    </message>
    <message name="getTradeitemsByGTINsResponse">
        <part name="parameters" element="tns:getTradeitemsByGTINsResponse"/>
    </message>
    <message name="Logout">
        <part name="parameters" element="tns:Logout"/>
    </message>
    <message name="LogoutResponse">
        <part name="parameters" element="tns:LogoutResponse"/>
    </message>
    <message name="Login">
        <part name="parameters" element="tns:Login"/>
    </message>
    <message name="LoginResponse">
        <part name="parameters" element="tns:LoginResponse"/>
    </message>
    <message name="getTradeitemByGTINshort">
        <part name="parameters" element="tns:getTradeitemByGTINshort"/>
    </message>
    <message name="getTradeitemByGTINshortResponse">
        <part name="parameters" element="tns:getTradeitemByGTINshortResponse"/>
    </message>
    <message name="getOldHeaderReq">
        <part name="parameters" element="tns:getOldHeaderReq"/>
    </message>
    <message name="getOldHeaderReqResponse">
        <part name="parameters" element="tns:getOldHeaderReqResponse"/>
    </message>
    <message name="SearchGTINfromDatamarkSystemByGTIN">
        <part name="parameters" element="tns:SearchGTINfromDatamarkSystemByGTIN"/>
    </message>
    <message name="SearchGTINfromDatamarkSystemByGTINResponse">
        <part name="parameters" element="tns:SearchGTINfromDatamarkSystemByGTINResponse"/>
    </message>
    <portType name="BEPTGlobal">
        <operation name="getPartyByGLN">
            <input message="tns:getPartyByGLN"/>
            <output message="tns:getPartyByGLNResponse"/>
        </operation>
        <operation name="cleanTradeitemsOfPoolByDeleteTime">
            <input message="tns:cleanTradeitemsOfPoolByDeleteTime"/>
            <output message="tns:cleanTradeitemsOfPoolByDeleteTimeResponse"/>
        </operation>
        <operation name="getCheckGTIN29">
            <input message="tns:getCheckGTIN29"/>
            <output message="tns:getCheckGTIN29Response"/>
        </operation>
        <operation name="getClassificator">
            <input message="tns:getClassificator"/>
            <output message="tns:getClassificatorResponse"/>
        </operation>
        <operation name="getCurrentTime">
            <input message="tns:getCurrentTime"/>
            <output message="tns:getCurrentTimeResponse"/>
        </operation>
        <operation name="getFullPartyByGLN">
            <input message="tns:getFullPartyByGLN"/>
            <output message="tns:getFullPartyByGLNResponse"/>
        </operation>
        <operation name="getFunctionalnameByGTIN">
            <input message="tns:getFunctionalnameByGTIN"/>
            <output message="tns:getFunctionalnameByGTINResponse"/>
        </operation>
        <operation name="getFunctionalnameByGTIN2">
            <input message="tns:getFunctionalnameByGTIN2"/>
            <output message="tns:getFunctionalnameByGTIN2Response"/>
        </operation>
        <operation name="getOldHeaderResp">
            <input message="tns:getOldHeaderResp"/>
            <output message="tns:getOldHeaderRespResponse"/>
        </operation>
        <operation name="getOldParty">
            <input message="tns:getOldParty"/>
            <output message="tns:getOldPartyResponse"/>
        </operation>
        <operation name="getOldTradeitem">
            <input message="tns:getOldTradeitem"/>
            <output message="tns:getOldTradeitemResponse"/>
        </operation>
        <operation name="getPartyByUNP">
            <input message="tns:getPartyByUNP"/>
            <output message="tns:getPartyByUNPResponse"/>
        </operation>
        <operation name="getQuotaImportInfo">
            <input message="tns:getQuotaImportInfo"/>
            <output message="tns:getQuotaImportInfoResponse"/>
        </operation>
        <operation name="getSimpleTradeitemsByGTIN">
            <input message="tns:getSimpleTradeitemsByGTIN"/>
            <output message="tns:getSimpleTradeitemsByGTINResponse"/>
        </operation>
        <operation name="getTIImageKindsByGTINs">
            <input message="tns:getTIImageKindsByGTINs"/>
            <output message="tns:getTIImageKindsByGTINsResponse"/>
        </operation>
        <operation name="getTradeitemByGTIN">
            <input message="tns:getTradeitemByGTIN"/>
            <output message="tns:getTradeitemByGTINResponse"/>
        </operation>
        <operation name="getTradeitemsByGTINsShort">
            <input message="tns:getTradeitemsByGTINsShort"/>
            <output message="tns:getTradeitemsByGTINsShortResponse"/>
        </operation>
        <operation name="getTradeitemsOfPoolByModifiedTime">
            <input message="tns:getTradeitemsOfPoolByModifiedTime"/>
            <output message="tns:getTradeitemsOfPoolByModifiedTimeResponse"/>
        </operation>
        <operation name="getVariantByGTIN">
            <input message="tns:getVariantByGTIN"/>
            <output message="tns:getVariantByGTINResponse"/>
        </operation>
        <operation name="SearchGTINfromDatamarkSystemByModifiedTime">
            <input message="tns:SearchGTINfromDatamarkSystemByModifiedTime"/>
            <output message="tns:SearchGTINfromDatamarkSystemByModifiedTimeResponse"/>
        </operation>
        <operation name="SearchPartiesByModifiedTime">
            <input message="tns:SearchPartiesByModifiedTime"/>
            <output message="tns:SearchPartiesByModifiedTimeResponse"/>
        </operation>
        <operation name="SearchSimpleTradeitemsByModifiedTime">
            <input message="tns:SearchSimpleTradeitemsByModifiedTime"/>
            <output message="tns:SearchSimpleTradeitemsByModifiedTimeResponse"/>
        </operation>
        <operation name="SearchSimpleTradeitemsByModifiedTime2">
            <input message="tns:SearchSimpleTradeitemsByModifiedTime2"/>
            <output message="tns:SearchSimpleTradeitemsByModifiedTime2Response"/>
        </operation>
        <operation name="SearchSimpleTradeitemsByModifiedTime3">
            <input message="tns:SearchSimpleTradeitemsByModifiedTime3"/>
            <output message="tns:SearchSimpleTradeitemsByModifiedTime3Response"/>
        </operation>
        <operation name="SearchTradeitemsByGLN">
            <input message="tns:SearchTradeitemsByGLN"/>
            <output message="tns:SearchTradeitemsByGLNResponse"/>
        </operation>
        <operation name="SearchTradeitemsByGLNAndModifiedTime">
            <input message="tns:SearchTradeitemsByGLNAndModifiedTime"/>
            <output message="tns:SearchTradeitemsByGLNAndModifiedTimeResponse"/>
        </operation>
        <operation name="SearchTradeitemsByModifiedTime">
            <input message="tns:SearchTradeitemsByModifiedTime"/>
            <output message="tns:SearchTradeitemsByModifiedTimeResponse"/>
        </operation>
        <operation name="SearchTradeitemsByName">
            <input message="tns:SearchTradeitemsByName"/>
            <output message="tns:SearchTradeitemsByNameResponse"/>
        </operation>
        <operation name="SearchTradeitemsByOKRB007">
            <input message="tns:SearchTradeitemsByOKRB007"/>
            <output message="tns:SearchTradeitemsByOKRB007Response"/>
        </operation>
        <operation name="SearchTradeitemsByTNVED">
            <input message="tns:SearchTradeitemsByTNVED"/>
            <output message="tns:SearchTradeitemsByTNVEDResponse"/>
        </operation>
        <operation name="getTradeitemsByGTINs">
            <input message="tns:getTradeitemsByGTINs"/>
            <output message="tns:getTradeitemsByGTINsResponse"/>
        </operation>
        <operation name="Logout">
            <input message="tns:Logout"/>
            <output message="tns:LogoutResponse"/>
        </operation>
        <operation name="Login">
            <input message="tns:Login"/>
            <output message="tns:LoginResponse"/>
        </operation>
        <operation name="getTradeitemByGTINshort">
            <input message="tns:getTradeitemByGTINshort"/>
            <output message="tns:getTradeitemByGTINshortResponse"/>
        </operation>
        <operation name="getOldHeaderReq">
            <input message="tns:getOldHeaderReq"/>
            <output message="tns:getOldHeaderReqResponse"/>
        </operation>
        <operation name="SearchGTINfromDatamarkSystemByGTIN">
            <input message="tns:SearchGTINfromDatamarkSystemByGTIN"/>
            <output message="tns:SearchGTINfromDatamarkSystemByGTINResponse"/>
        </operation>
    </portType>
    <binding name="BEPTGlobalPortBinding" type="tns:BEPTGlobal">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getPartyByGLN">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="cleanTradeitemsOfPoolByDeleteTime">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getCheckGTIN29">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getClassificator">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getCurrentTime">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getFullPartyByGLN">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getFunctionalnameByGTIN">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getFunctionalnameByGTIN2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getOldHeaderResp">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getOldParty">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getOldTradeitem">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getPartyByUNP">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getQuotaImportInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getSimpleTradeitemsByGTIN">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getTIImageKindsByGTINs">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getTradeitemByGTIN">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getTradeitemsByGTINsShort">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getTradeitemsOfPoolByModifiedTime">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getVariantByGTIN">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SearchGTINfromDatamarkSystemByModifiedTime">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SearchPartiesByModifiedTime">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SearchSimpleTradeitemsByModifiedTime">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SearchSimpleTradeitemsByModifiedTime2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SearchSimpleTradeitemsByModifiedTime3">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SearchTradeitemsByGLN">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SearchTradeitemsByGLNAndModifiedTime">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SearchTradeitemsByModifiedTime">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SearchTradeitemsByName">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SearchTradeitemsByOKRB007">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SearchTradeitemsByTNVED">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getTradeitemsByGTINs">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Logout">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Login">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getTradeitemByGTINshort">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getOldHeaderReq">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SearchGTINfromDatamarkSystemByGTIN">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="BEPTGlobalService">
        <port name="BEPTGlobalPort" binding="tns:BEPTGlobalPortBinding">
            <soap:address location="http://www.epass.by:80/BEPTGlobalService"/>
        </port>
    </service>
</definitions>